@model FileStorage.Models.UserRegistrationViewModel
@Styles.Render("~/Content/userform.css")
<div class="modal-content">
<div class="modal-header">
    <h4>Регистрация</h4>
</div>
    <div class="modal-body">
        @using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { role = "form", @class = "form-horizontal", id = "regForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.Label("Логин:", new {@for="Login", @class="col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.Login, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Login)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Пароль:", new {@for="Password", @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Повторите пароль:",new {@for="ConfirmPassword", @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Выберите группу пользователя:", new {@for="RoleId", @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @{ Html.RenderAction("Roles"); }                   
                </div>
            </div>
        }
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" form="regForm" id="btnSubmitForm">Зарегистрироваться</button>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")